@import '../../styles/settings.scss';

.hero {
  padding: $base-size;
}

.title {
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}
