@import '../../styles/settings.scss';

.navBar {
  display: flex;
  justify-content: space-between;
  background-color: darken($color-dark, 3%);
  font-size: 24px;
  padding: 0 20px;
 
}

.icon {
  font-size: 28px;
}

li {
  display: inline;
  padding: 0 8px;
}

a {
  text-decoration: none;
  color: floralwhite;
  font-size: 15px;
}